## Ejercicio 1. 
### Creación de una bases de datos de películas extraídas de un API

#### Fase 1: Extracción de datos de películas

In [11]:
import requests
import pandas as pd

# URL de API
url = 'https://beta.adalab.es/resources/apis/pelis/pelis.json'

# Hacer peticion
response = requests.get(url)

# Convertir a formato JSON
datos = response.json()

# Ver cuantas pelis tenemos
print(f"Total de películas en la API: {len(datos)}")

Total de películas en la API: 100

In [13]:
# Convertir a un DataFrame 
df_peliculas = pd.DataFrame(datos)
print(df_peliculas.head(20))

    id                    titulo   año  duracion           genero  adultos  \
0    1             The Godfather  1972       175           Crimen    False
1    2     The Godfather Part II  1974       202           Crimen    False
2    3              Pulp Fiction  1994       154           Crimen     True
3    4              Forrest Gump  1994       142            Drama    False
4    5           The Dark Knight  2008       152           Acción    False
5    6                Fight Club  1999       139            Drama     True
6    7                 Inception  2010       148  Ciencia ficción    False
7    8                The Matrix  1999       136  Ciencia ficción    False
8    9  The Shawshank Redemption  1994       142            Drama    False
9   10              Interstellar  2014       169  Ciencia ficción    False
10  11                 Gladiator  2000       155           Acción    False
11  12                   Titanic  1997       195          Romance    False
12  13                    Avatar  2009       162  Ciencia ficción    False
13  14       Saving Private Ryan  1998       169           Bélico     True
14  15  The Silence of the Lambs  1991       118         Thriller     True
15  16                     Se7en  1995       127         Thriller     True
16  17                Goodfellas  1990       146           Crimen     True
17  18              The Departed  2006       151           Crimen     True
18  19                  Whiplash  2014       106            Drama    False
19  20                La La Land  2016       128          Musical    False

      subtitulos
0       [es, en]
1       [es, en]
2       [es, en]
3   [es, en, fr]
4       [es, en]
5       [es, en]
6   [es, en, de]
7       [es, en]
8       [es, en]
9       [es, en]
10      [es, en]
11  [es, en, fr]
12      [es, en]
13      [es, en]
14      [es, en]
15      [es, en]
16      [es, en]
17      [es, en]
18      [es, en]
19      [es, en]

In [14]:
# Tomamos las primeras 100
primeras_100 = datos[:100]
df_peliculas_100 = pd.DataFrame(primeras_100)
print(df_peliculas_100.head())

   id                 titulo   año  duracion  genero  adultos    subtitulos
0   1          The Godfather  1972       175  Crimen    False      [es, en]
1   2  The Godfather Part II  1974       202  Crimen    False      [es, en]
2   3           Pulp Fiction  1994       154  Crimen     True      [es, en]
3   4           Forrest Gump  1994       142   Drama    False  [es, en, fr]
4   5        The Dark Knight  2008       152  Acción    False      [es, en]

In [19]:
# Lista de diccionarios con solo información pedida
peliculas = []

for peli in primeras_100:
    peliculas.append({
        "Título": peli["titulo"],
        "Año": peli["año"],
        "Duración (minutos)": peli["duracion"],
        "Género": peli["genero"],
        "Adultos": "sí" if peli["adultos"] else "no"
    })

# Convertimos a DataFrame 
df = pd.DataFrame(peliculas)
df.head(10)

                     Título   Año  Duración (minutos)           Género Adultos
0             The Godfather  1972                 175           Crimen      no
1     The Godfather Part II  1974                 202           Crimen      no
2              Pulp Fiction  1994                 154           Crimen      sí
3              Forrest Gump  1994                 142            Drama      no
4           The Dark Knight  2008                 152           Acción      no
5                Fight Club  1999                 139            Drama      sí
6                 Inception  2010                 148  Ciencia ficción      no
7                The Matrix  1999                 136  Ciencia ficción      no
8  The Shawshank Redemption  1994                 142            Drama      no
9              Interstellar  2014                 169  Ciencia ficción      no

#### Fase 2: Creación de la Base de Datos

#### Fase 3: Inserción de los Datos en la Base de Datos

#### Fase 4: Obtener información a partir de los datos.